<footer id="footer">
  <a href="https://salguento.xyz" target="_blank">salguento 👾 2025</a>
</footer>
<style>
  #footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    background: rgba(256, 256, 256, 0.65);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(10px);
    border-top: 1px solid lightgray;
    font-size: small;
    font-weight: 500;
    padding: 4px 0px;
  }

  #footer a {
    text-decoration: none;
    color: inherit;
  }

  #footer a:hover {
    text-decoration: underline;
    color: cadetblue;
  }
</style>
